<ion-app>  <!-- Contenedor principal de la aplicación en Ionic, que incluye todo el contenido y se utiliza como un contenedor raíz. -->
  <ion-footer>  <!-- Elemento de pie de página (footer) que se coloca al final de la aplicación. -->
    <ion-tab-bar slot="bottom" color="dark">  <!-- Barra de pestañas (tab-bar) ubicada en la parte inferior, con color oscuro. -->
      
      <!-- Botón de pestaña para "Grupos" -->
      <ion-tab-button tab="grupos" [routerLink]="['/grupos']">  <!-- Define un botón de pestaña que redirige a la ruta '/grupos' cuando se hace clic. -->
        <ion-icon name="people"></ion-icon>  <!-- Icono que representa personas. -->
        <ion-label>Grupos</ion-label>  <!-- Etiqueta de texto que dice "Grupos". -->
      </ion-tab-button>

      <!-- Botón de pestaña para "Actividades" -->
      <ion-tab-button tab="actividades" [routerLink]="['/actividades']">  <!-- Define un botón de pestaña que redirige a la ruta '/actividades'. -->
        <ion-icon name="clipboard"></ion-icon>  <!-- Icono que representa un portapapeles. -->
        <ion-label>Actividades</ion-label>  <!-- Etiqueta de texto que dice "Actividades". -->
      </ion-tab-button>

      <!-- Botón de pestaña para "Calificaciones" (comentado) -->
      <!-- <ion-tab-button tab="calificaciones" [routerLink]="['/calificaciones']"> -->
      <!--   <ion-icon name="school"></ion-icon> -->
      <!--   <ion-label>Calificaciones</ion-label> -->
      <!-- </ion-tab-button> -->

      <!-- Botón de pestaña para "Configuración" -->
      <ion-tab-button tab="settings" [routerLink]="['/settings']">  <!-- Define un botón de pestaña que redirige a la ruta '/settings'. -->
        <ion-icon name="settings"></ion-icon>  <!-- Icono que representa una rueda dentada (configuración). -->
        <ion-label>Configuración</ion-label>  <!-- Etiqueta de texto que dice "Configuración". -->
      </ion-tab-button>

    </ion-tab-bar>
  </ion-footer>
</ion-app>