<ion-app>
  <ion-footer>
    <ion-tab-bar slot="bottom" color="dark">
      <ion-tab-button tab="grupos" [routerLink]="['/grupos']">
        <ion-icon name="people"></ion-icon>
        <ion-label>Grupos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="actividades" [routerLink]="['/actividades']">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Actividades</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="calificaciones" [routerLink]="['/calificaciones']">
        <ion-icon name="school"></ion-icon>
        <ion-label>Calificaciones</ion-label>
      </ion-tab-button> -->

      <ion-tab-button tab="settings" [routerLink]="['/settings']">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Configuración</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>
</ion-app>
