<!-- Encabezado del componente -->
<ion-header>
  <ion-toolbar color="primary">  <!-- Barra de herramientas con el color primario de la aplicación -->
    <ion-title>Grupos</ion-title>  <!-- Título del encabezado de la página -->
  </ion-toolbar>
</ion-header>

<!-- Contenido principal de la página -->
<ion-content>
  <div class="content-wrapper">
    <h1>Tus Grupos</h1>  <!-- Título principal que indica que esta sección es para los grupos -->

    <!-- Lista de grupos: aquí se itera sobre el arreglo de grupos -->
    <ion-list>
      <ion-item *ngFor="let grupo of grupos" (click)="mostrarDetalles(grupo)"> <!-- Se usa ngFor para iterar sobre el arreglo 'grupos' -->
        <ion-label>  <!-- Etiqueta para mostrar información dentro de cada ítem de la lista -->
          <h2>{{ grupo.grado }} - {{ grupo.nombre }}</h2>  <!-- Muestra el grado y nombre del grupo -->
          <p>Maestro: {{ grupo.maestro }}</p>  <!-- Muestra el nombre del maestro del grupo -->
          <p>Número de Alumnos: {{ grupo.numeroAlumnos }}</p>  <!-- Muestra el número de alumnos en el grupo -->
        </ion-label>
      </ion-item>
    </ion-list>  <!-- Fin de la lista de grupos -->
  </div>
</ion-content>

<!-- Pie de página con la barra de navegación inferior -->
<ion-footer>
  <ion-tab-bar slot="bottom" color="ligth">  <!-- Barra de navegación inferior con color claro -->
    <!-- Primer tab para la página de grupos -->
    <ion-tab-button tab="grupos" [routerLink]="['/grupos']">  
      <ion-icon name="people"></ion-icon>  <!-- Icono para el tab de grupos -->
      <ion-label>Grupos</ion-label>  <!-- Etiqueta que acompaña al icono -->
    </ion-tab-button>

    <!-- Segundo tab para la página de actividades -->
    <ion-tab-button tab="actividades" [routerLink]="['/actividades']">
      <ion-icon name="clipboard"></ion-icon>  <!-- Icono para el tab de actividades -->
      <ion-label>Actividades</ion-label>  <!-- Etiqueta que acompaña al icono -->
    </ion-tab-button>

    <!-- Comentado: Tab para la página de calificaciones (actualmente no está activo) -->
    <!-- <ion-tab-button tab="calificaciones" [routerLink]="['/calificaciones']">
      <ion-icon name="school"></ion-icon>
      <ion-label>Calificaciones</ion-label>
    </ion-tab-button> -->

    <!-- Tercer tab para la página de configuración del maestro -->
    <ion-tab-button tab="settings" [routerLink]="['/settings-maestro']">
      <ion-icon name="settings"></ion-icon>  <!-- Icono para el tab de configuración -->
      <ion-label>Configuración</ion-label>  <!-- Etiqueta que acompaña al icono -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>