<div class="login-container">
  <h2>Iniciar sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="correo">
      Correo:
      <input formControlName="correo" type="email" id="correo" />
      <div *ngIf="loginForm.get('correo')!.invalid && loginForm.get('correo')!.touched">
        <small class="error" *ngIf="loginForm.get('correo')!.hasError('required')">El correo es obligatorio.</small>
        <small class="error" *ngIf="loginForm.get('correo')!.hasError('email')">Por favor, ingresa un correo válido.</small>
      </div>
    </label>
    <br />
    <label for="contrasenia">
      Contraseña:
      <input formControlName="contrasenia" type="password" id="contrasenia" />
      <div *ngIf="loginForm.get('contrasenia')!.invalid && loginForm.get('contrasenia')!.touched">
        <small class="error" *ngIf="loginForm.get('contrasenia')!.hasError('required')">La contraseña es obligatoria.</small>
      </div>
    </label>
    <br />
    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
  </form>
  <p *ngIf="error" class="error-message">{{ error }}</p>
</div>
