REGISTER.COMPONENT.HTML
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-7">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <h3 class="text-center font-weight-light my-4">Create Account</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3">
              <input class="form-control" id="inputName" formControlName="name" type="text" placeholder="Enter your name" />
              <label for="inputName">Nombre Completo</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="inputEmail" formControlName="email" type="email" placeholder="name@example.com" />
              <label for="inputEmail">Correo Electrico</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="inputPassword" formControlName="password" type="password" placeholder="Create a password" />
              <label for="inputPassword">Contraseña</label>
            </div>
            <div class="mt-4 mb-0">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="isSubmited">Crear Cuenta</button>
            </div>
          </form>
        </div>
        <div *ngIf="error" class="alert alert-danger text-center mt-2">{{ error }}</div>
        <div class="card-footer text-center py-3">
          <div class="small"><a routerLink="/login">Ya tienes una cuenta? Ingresa </a></div>
        </div>
      </div>
    </div>
  </div>
</div>