<ion-header>
  <!-- Barra de herramientas (toolbar) con color primario -->
  <ion-toolbar color="primary">
    <!-- Título de la página que se muestra en la barra de herramientas -->
    <ion-title>Detalles del Grupo</ion-title>

    <!-- Botones en la esquina derecha (end) de la barra de herramientas -->
    <ion-buttons slot="end">
      <!-- Botón para cerrar el modal y regresar a la vista anterior -->
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor principal con la clase content-wrapper -->
  <div class="content-wrapper">
    <!-- Muestra el grado y nombre del grupo -->
    <h2>{{ grupo.grado }} - {{ grupo.nombre }}</h2>
    <!-- Muestra el nombre del maestro -->
    <p><strong>Maestro:</strong> {{ grupo.maestro }}</p>
    <!-- Muestra el número de alumnos -->
    <p><strong>Número de Alumnos:</strong> {{ grupo.numeroAlumnos }}</p>

    <!-- Título de la sección de actividades -->
    <h3>Actividades</h3>

    <!-- Lista de actividades del grupo -->
    <ion-list>
      <!-- Itera sobre las actividades del grupo y las muestra -->
      <ion-item *ngFor="let actividad of grupo.actividades">
        <!-- Muestra la imagen asociada con la actividad -->
        <ion-thumbnail slot="start">
          <img [src]="actividad.imagen" />
        </ion-thumbnail>

        <!-- Muestra los detalles de la actividad -->
        <ion-label>
          <!-- Título de la actividad -->
          <h3>{{ actividad.titulo }}</h3>
          <!-- Fechas de inicio y fin de la actividad con formato de fecha -->
          <p>📅 {{ actividad.fechaInicio | date: 'dd/MM/yyyy' }} - {{ actividad.fechaFin | date: 'dd/MM/yyyy' }}</p>
          <!-- Descripción de la actividad -->
          <p>📝 {{ actividad.descripcion }}</p>
          <!-- Tipo de aprendizaje relacionado con la actividad -->
          <p>🎯 Tipo de Aprendizaje: {{ actividad.tipoAprendizaje }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>