<section class="fixed-top navbar-container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/kalevActualizado.png" height="30" alt="Logo" />
        </a>
  
       

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>  

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <div class="navbar-nav nav-links align-items-center">
            <a class="nav-link text-dark shine" href="#inicio">Inicio</a>
            <a class="nav-link text-dark shine" href="#nosotros">Nosotros</a>
            <a class="nav-link text-dark shine" href="#aprendizaje">Aprendizaje</a>
            <a class="nav-link text-dark shine" href="#vark">Vark</a>
            <a class="nav-link text-dark shine" href="#contacto">Contáctanos</a>
            <a class="btn btn-#005F6B login-btn shine" routerLink="/login">Iniciar sesión</a>
          </div>
        </div>
     </div>
    </nav>
  </section>

  
  