.login-container {
  display: flex; /* Usa el modelo de diseño flexbox para organizar los elementos dentro del contenedor */
  flex-direction: column; /* Los elementos dentro del contenedor se apilan en una columna */
  justify-content: center; /* Alinea los elementos de forma vertical en el centro del contenedor */
  align-items: center; /* Alinea los elementos horizontalmente en el centro del contenedor */
  text-align: center; /* Centra el texto dentro de los elementos */
  height: 100%; /* Establece que el contenedor tenga el 100% de la altura de su elemento padre */
  background-size: cover; /* Asegura que la imagen de fondo cubra completamente el área del contenedor */
}

.title {
  font-size: 30px; /* Establece el tamaño de la fuente para el título */
  font-weight: bold; /* Hace que el título tenga un peso de fuente en negrita */
  margin-bottom: 20px; /* Añade un margen de 20px en la parte inferior del título */
}