<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-card class="custom-card" color="light">
    <ion-card-header>
      <ion-card-title class="custom-title" style="font-weight: bold;">Bienvenido a</ion-card-title>
      <ion-img src="assets/ic_logo.png" alt="Kalev"></ion-img>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="iniciarSesion()">
        <ion-text class="input-title" style="margin-top: 16px;">Correo Electrónico</ion-text>
        <ion-item class="custom-item" [class.ion-invalid]="emailInvalid">
          <ion-input 
            type="email" 
            placeholder="email@domain.com" 
            [(ngModel)]="email" 
            name="email" 
            required
            (ionBlur)="validarEmail()">
          </ion-input>
        </ion-item>

        <ion-text class="input-title" style="margin-top: 16px;">Código del Juego</ion-text>
        <ion-item class="custom-item" [class.ion-invalid]="codigoInvalid">
          <ion-input 
            type="text" 
            placeholder="Código" 
            [(ngModel)]="codigo" 
            name="code" 
            required
            (ionBlur)="validarCodigo()">
          </ion-input>
        </ion-item>

        <ion-button 
          expand="full" 
          type="submit" 
          color="danger" 
          shape="round" 
          style="margin-top: 30px;"
          [disabled]="cargando">
          <ion-spinner *ngIf="cargando" name="crescent"></ion-spinner>
          <span *ngIf="!cargando">Iniciar Sesión</span>
        </ion-button>
        
      </form>
    </ion-card-content>
  </ion-card>

  <p class="custom-credits">
    © 2025 KALEV, Todos los derechos reservados.
  </p>
</ion-content>