:root {
  --ion-color-primary: #0081a7;
  --ion-color-lightGray: #ededee;
  --ion-color-darkGray: #3c3c3b;
  --ion-color-yellow: #f59f00;
  --ion-color-green: #4ebc97;
}

.mascota-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.mascota-col {
  text-align: center;
}

.mascota-img {
  width: 90px; /* Tamaño más pequeño */
  height: 90px;
  border-radius: 50%;
}

.item-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px; /* Misma altura para todos */
}

.item-img {
  width: 100%;
  height: 120px; /* Tamaño fijo */
  object-fit: contain;
}

.compras-container {
  margin-top: 20px;
}

.compra-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
}


ion-list {
  background: var(--ion-color-lightGray);
  border-radius: 10px;
  padding: 10px;
}

.footer-toolbar {
  background: var(--ion-color-darkGray);
}

.footer-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer-buttons ion-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  text-transform: none;
}

.footer-buttons ion-icon {
  font-size: 18px;
}


