<ion-header>
  <ion-toolbar>
    <!-- Título de la página -->
    <ion-title>Tienda</ion-title>
    <!-- Sección que muestra las monedas -->
    <ion-buttons slot="end">
      <ion-chip color="warning">
        <ion-label>💰 {{ monedas }} monedas</ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contenido -->
<ion-content fullscreen>
 <!-- Sección Mascotas -->
<ion-row class="mascota-container" style="align-items: center; justify-content: center; text-align: center;">
  <ion-button color="secondary" (click)="anteriorMascota()" class="boton-anterior-mascota" style="margin-right: 10px;">
    Anterior
  </ion-button>
  
  <div style="display: flex; flex-direction: column; align-items: center;">
    <img [src]="mascotaActual.imagen" class="mascota-img" style="width: 150px; height: 150px;" />
    <p> {{mascotaActual.precio}} monedas</p>
  </div>
  
  <ion-button color="secondary" (click)="siguienteMascota()" class="boton-siguiente-mascota" style="margin-left: 10px;">
    Siguiente
  </ion-button>
</ion-row>

<ion-row class="guardar-mascota-container" style="margin-top: 20px; justify-content: center;">
  <ion-button color="success" (click)="guardarMascota()">
    Comprar mascota
  </ion-button>
</ion-row>

<!-- Sección Accesorios Cabeza -->
<ion-row class="accesorio-container" style="align-items: center; justify-content: center; text-align: center; margin-top: 30px;">
  <ion-button color="secondary" (click)="anteriorAccesorioCabeza()" style="margin-right: 10px;">
    Anterior
  </ion-button>
  
  <div style="display: flex; flex-direction: column; align-items: center;">
    <img [src]="accesorioCabezaActual.imagen" style="width: 100px; height: 100px;" />
    <p>{{accesorioCabezaActual.nombre}} - {{accesorioCabezaActual.precio}} monedas</p>
  </div>
  
  <ion-button color="secondary" (click)="siguienteAccesorioCabeza()" style="margin-left: 10px;">
    Siguiente
  </ion-button>
</ion-row>

<ion-row style="margin-top: 20px; justify-content: center;">
  <ion-button color="success" (click)="guardarAccCabeza()">
    Comprar accesorio
  </ion-button>
</ion-row>

<!-- Sección Accesorios Ojos -->
<ion-row class="accesorio-container" style="align-items: center; justify-content: center; text-align: center; margin-top: 30px;">
  <ion-button color="secondary" (click)="anteriorAccesorioOjos()" style="margin-right: 10px;">
    Anterior
  </ion-button>
  
  <div style="display: flex; flex-direction: column; align-items: center;">
    <img [src]="accesorioOjosActual.imagen" style="width: 100px; height: 100px;" />
    <p>{{accesorioOjosActual.nombre}} - {{accesorioOjosActual.precio}} monedas</p>
  </div>
  
  <ion-button color="secondary" (click)="siguienteAccesorioOjos()" style="margin-left: 10px;">
    Siguiente
  </ion-button>
</ion-row>

<ion-row style="margin-top: 20px; justify-content: center;">
  <ion-button color="success" (click)="guardarAccOjos()">
    Comprar accesorio
  </ion-button>
</ion-row>

</ion-content>
