<ion-content [style.backgroundImage]="'url(assets/escuela.jpg)'" class="splash-container">
  <!-- Contenedor principal del contenido -->
  <div class="content-wrapper">
    
    <!-- Título de Bienvenida -->
    <ion-text class="welcome-text">
      <!-- Título principal de la página (h1) -->
      <h1>¡Bienvenido a KALEV!</h1>
    </ion-text>

    <!-- Logo de la aplicación -->
    <ion-img src="assets/ic_logo.png" class="logo"></ion-img>

    <!-- Barra de Progreso Personalizada -->
    <!-- Utiliza una barra de progreso indeterminada para mostrar una animación mientras se carga la página -->
    <ion-progress-bar class="custom-progress" type="indeterminate"></ion-progress-bar>
  </div>
</ion-content>
