    .content-wrapper {
    padding: 16px;
    text-align: center;
  
    h1 {
      margin-bottom: 24px;
      color: var(--ion-color-darkGray-contrast);
      font-size: 2em;
      font-weight: bold;
    }
  
    ion-card {
      margin-bottom: 16px;
      background-color: var(--ion-color-darkGray);
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
      &:hover {
        background-color: var(--ion-color-darkTeal-tint);
      }
  
      ion-card-header {
        background-color: var(--ion-color-coral);
        color: white;
        padding: 10px;
        border-radius: 10px 10px 0 0;
  
        ion-card-title {
          font-weight: bold;
          font-size: 1.4em;
        }
  
        ion-card-subtitle {
          font-size: 1em;
          font-weight: normal;
          color: white;
        }
      }
  
      ion-card-content {
        padding: 16px;
        color: var(--ion-color-darkPurple);
  
        ion-button {
          margin-top: 10px;
          border-radius: 8px;
        }
      }
    }
  }
  