<section class="min-vh-100 d-flex flex-row p-5" style="background-color: #ededee;" id="inicio">
  
  <div class="col-md-6 d-flex flex-column justify-content-center">
      <div class="text-center">
          <h5 style="font-size: 3rem;">Bienvenidos a</h5>
          <h1 style="font-size: 5rem;">KALEV</h1>
          <p style="font-size: 1.5rem;">
              En este sitio encontrarás información sobre los estilos de aprendizaje y su importancia en el proceso
              educativo. Explora los contenidos y descubre cómo identificar y aprovechar los estilos de aprendizaje
              para potenciar tu aprendizaje.
          </p>

      </div>
  </div>
  <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="image1.jpg" class="d-block w-100" alt="Imagen 1">
              </div>
              <div class="carousel-item">
                  <img src="image2.jpg" class="d-block w-100" alt="Imagen 2">
              </div>
              <div class="carousel-item">
                  <img src="image3.jpg" class="d-block w-100" alt="Imagen 3">
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
  </div>
</section>



<section class="d-flex justify-content-center py-5 shadow m-5" id="nosotros" style="min-height: 600px;">
  <div class="container text-center">
      <h1 class="mb-4">Acerca de nosotros</h1>
      <div class="row justify-content-center">
          <div class="col-md-3 mb-4">
              <h3 style="color: #ff5733;">Valores</h3>
              <p>
                  Nuestra empresa está comprometida con la educación, guiada por valores como la integridad,
                  responsabilidad, respeto, justicia y empatía. Promovemos la innovación educativa y colaboramos con
                  instituciones para desarrollar proyectos que beneficien a la comunidad. También invertimos en el
                  desarrollo profesional de nuestros empleados. Nuestro compromiso con estos valores contribuye a
                  formar individuos éticos y responsables, creando un impacto positivo en la sociedad y promoviendo la
                  sostenibilidad. Nos esforzamos por garantizar un acceso justo y equitativo a la educación de calidad
                  para todos.
              </p>
          </div>
          <div class="col-md-3 mb-4">
              <h3 style="color: #4EBC97;">Objetivo</h3>
              <p>
                  Objetivo de Nuestra Empresa
                  Nuestro objetivo es garantizar una educación de calidad para todos, preparándolos para enfrentar los
                  desafíos del futuro con confianza y habilidades sólidas. Promovemos la educación mediante diversos
                  tipos de aprendizaje: kinestésico, auditivo, visual y lecto-escrito, proporcionando una educación
                  inclusiva y accesible.

                  Nos comprometemos a apoyar a los profesores con recursos innovadores y programas que fomenten la
                  creatividad, el pensamiento crítico y el desarrollo profesional continuo.
              </p>

          </div>
          <div class="col-md-3 mb-4">
              <h3 style="color: #0081A7;">Idea</h3>
              <p>
                  Nuestro proyecto busca revolucionar la educación mediante la implementación de diversos tipos de
                  aprendizaje: auditivo, visual, kinestésico y lecto-escritor. Creemos en adaptar la educación a las
                  distintas formas en que los estudiantes aprenden, proporcionando una experiencia inclusiva y
                  accesible. Juegos educativos que desarrollan habilidades críticas y creativas son una parte clave de
                  nuestro enfoque, haciendo que el aprendizaje sea tanto divertido como efectivo.
              </p>
          </div>
      </div>
  </div>
</section>

<section id="aprendizaje">
  <div class="container">
      <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
              <div class="card h-100 border-0 shadow-sm">
                  <img src="assets/kinestesico.jpg" class="card-img-top d-block mx-auto" alt="Aprendizaje Kinestésico"
                      style="width: 400px; object-fit: cover;">
                  <div class="card-body">
                      <h3 class="card-title" style="color: #ff5733;">Aprendizaje Kinestésico</h3>
                      <p class="card-text">
                          La preferencia kinestésica permite que los estudiantes se involucren activamente en el
                          proceso de aprendizaje, facilitando la asimilación de conceptos a través de la práctica.
                          Este tipo de aprendizaje es especialmente eficaz en situaciones donde el "aprender haciendo"
                          resulta ser la mejor manera de adquirir nuevas habilidades y conocimientos.
                      </p>
                      <p class="card-text">
                          <strong>Lo más importante:</strong>
                      </p>
                      <ul class="card-text">
                          <li>Uso de la experiencia y la práctica, real o simulada.</li>
                          <li>Incluye demostraciones, simulaciones y videos de situaciones reales.</li>
                          <li>Aprendizaje mediante experiencias directas y vivencias propias.</li>
                          <li>Adecuada para tareas con detalles específicos y estudios de caso prácticos.</li>
                      </ul>
                  </div>
              </div>
          </div>


          <div class="col-12 col-md-6 col-lg-6">
              <div class="card h-100 border-0 shadow-sm">
                  <img src="assets/lectoescritor.jpg" class="card-img-top d-block mx-auto"
                      alt="Aprendizaje Lector-Escritor" style="max-width: 400px; object-fit: cover;">
                  <div class="card-body">
                      <h3 class="card-title" style="color: #4EBC97;">Aprendizaje Lector-Escritor</h3>
                      <p class="card-text">
                          La preferencia de lectura/escritura se centra en la presentación de información a través de
                          palabras. Esta preferencia es común entre profesores y estudiantes debido a la importancia
                          de habilidades como la lectura fluida y la buena escritura, valoradas por los empleadores.
                      </p>
                      <p class="card-text">
                          <strong>Lo más importante:</strong>
                      </p>
                      <ul class="card-text">
                          <li>Uso de texto para recibir y expresar información.</li>
                          <li>Abarca manuales, informes, ensayos y tareas.</li>
                          <li>Usuarios frecuentes de herramientas como PowerPoint, Internet, listas, diarios,
                              diccionarios
                              y tesauros.</li>
                          <li>Presentaciones de PowerPoint y sitios como Wikipedia son adecuados ya que no incluyen
                              componentes auditivos ni símbolos visuales.</li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6">
              <div class="card h-100 border-0 shadow-sm">
                  <img src="assets/visual.jpg" class="card-img-top d-block mx-auto" alt="Aprendizaje Visual"
                      style="max-width: 400px; object-fit: cover;">
                  <div class="card-body">
                      <h3 class="card-title" style="color: #0081A7;">Aprendizaje Visual</h3>
                      <p class="card-text">
                          La preferencia visual se enfoca en la representación de información mediante mapas,
                          diagramas, gráficos y otros elementos simbólicos. Excluye imágenes fijas, películas, videos
                          y presentaciones en PowerPoint. Incluye diseños, patrones y formas que facilitan la
                          visualización de la información.
                      </p>
                      <p class="card-text">
                          <strong>Lo más importante:</strong>
                      </p>
                      <ul class="card-text">
                          <li>Representación de información con mapas, diagramas y gráficos.</li>
                          <li>Excluye imágenes fijas, películas, videos y presentaciones en PowerPoint.</li>
                          <li>Incluye diseños, patrones y formas para resaltar y transmitir información.</li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-12 col-md-6 col-lg-6">
              <div class="card h-100 border-0 shadow-sm">
                  <img src="assets/auditivo.jpg" class="card-img-top d-block mx-auto" alt="Aprendizaje Auditivo"
                      style="max-width: 400px; object-fit: cover;">
                  <div class="card-body">
                      <h3 class="card-title" style="color: #ffd333;">Aprendizaje Auditivo</h3>
                      <p class="card-text">
                          La preferencia auditiva implica recibir información a través de escuchar o hablar. Los
                          estudiantes aprenden mejor mediante conferencias, discusiones grupales, radio, correos
                          electrónicos y el uso de teléfonos móviles. También incluye hablar en voz alta y consigo
                          mismo para ordenar ideas y resolver problemas.
                      </p>
                      <p class="card-text">
                          <strong>Lo más importante:</strong>
                      </p>
                      <ul class="card-text">
                          <li>Recibir información mediante escuchar o hablar.</li>
                          <li>Aprendizaje óptimo con conferencias, discusiones grupales y radio.</li>
                          <li>Hablar en voz alta y consigo mismo para ordenar ideas y resolver problemas.</li>
                      </ul>
                  </div>
              </div>
          </div>



      </div>
  </div>
</section>



<section id="vark" class="min-vh-100 d-flex justify-content-center align-items-center py-5 m-5">
  <div class="container-fluid rounded p-4 shadow">
      <div class="row g-4 align-items-center">
          <div class="col-md-6 text-center">
              <img src="assets/autor2.jpg" class="img-fluid rounded shadow" alt="Neil D. Fleming"
                  style="height: 450px; object-fit: cover;">
          </div>
          <div class="col-md-6">
              <div class="border-0 bg-transparent">
                  <div>
                      <h1 class="display-4">Neil D. Fleming</h1>
                      <p class="fs-5">
                          Neil D. Fleming es un educador y académico de Nueva Zelanda, conocido por desarrollar el
                          modelo VARK
                          (Visual, Auditivo, Lectura/Escritura, Kinestésico) en 1987. Su enfoque en la educación
                          se centra en cómo
                          los estudiantes aprenden de manera diferente y cómo se pueden adaptar las metodologías
                          de enseñanza para
                          satisfacer esas diferencias.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="d-flex justify-content-center py-5 m-5" id="contacto">
  <div class="container-fluid shadow">
      <h1 class="text-center mb-4">¿Necesitas más información?</h1>
      <div class="row rounded shadow-sm p-4">
          <div class="col-md-6 mb-4 mb-md-0">
              <form>
                  <div class="mb-3">
                      <label for="name" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre">
                  </div>
                  <div class="mb-3">
                      <label for="email" class="form-label">Correo Electrónico</label>
                      <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico">
                  </div>
                  <div class="mb-3">
                      <label for="message" class="form-label">Mensaje</label>
                      <textarea class="form-control" id="message" rows="3"
                          placeholder="Escribe tu mensaje"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary mt-3 w-100">Enviar</button>
              </form>
          </div>
          <div class="col-md-6">
              <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3777.0684682503224!2d-96.70394399999999!3d18.795101799999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c4e510dcba984b%3A0x786682af2917773!2sUniversidad%20Tecnol%C3%B3gica%20del%20Centro%20de%20Veracruz%20(UTCV)!5e0!3m2!1ses-419!2smx!4v1738853933904!5m2!1ses-419!2smx"
                  class="w-100 rounded" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade">
              </iframe>
          </div>
      </div>

  
      <div class="text-center mt-4 p-5" >
          <h4>Síguenos en nuestras redes sociales</h4>
          <div class="d-flex justify-content-center">
              <a href="https://wa.me/2711908607" class="btn btn-success mx-2" target="_blank" title="WhatsApp">
                  <i class="bi bi-whatsapp" style="font-size: 30px;"></i>
              </a>
              <a href="https://www.facebook.com/tuempresa" class="btn btn-primary mx-2" target="_blank"
                  title="Facebook">
                  <i class="bi bi-facebook" style="font-size: 30px;"></i>
              </a>
              <a href="https://www.instagram.com/tuempresa" class="btn btn-danger mx-2" target="_blank"
                  title="Instagram">
                  <i class="bi bi-instagram" style="font-size: 30px;"></i>
              </a>
          </div>
      </div>
  </div>
</section>