<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Perfil del Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="!isLoading && estudiante; else cargando">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">{{ estudiante.nombre }}</ion-card-title>
        <ion-card-subtitle class="ion-text-center">{{ estudiante.correo }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <p><strong>Grupo:</strong> {{ estudiante.nombre_grupo }}</p>
        <p><strong>Grado:</strong> {{ estudiante.grado }}</p>
        <p><strong>Monedas:</strong> {{ estudiante.monedas }}</p>

        <p *ngIf="aliasGuardado"><strong>Alias:</strong> {{ aliasGuardado }}</p>


      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Alias del Jugador</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nickname</ion-label>
          <ion-input [(ngModel)]="alias" placeholder="Ej. Súper Gamer"></ion-input>
        </ion-item>
        <ion-button expand="block" color="primary" (click)="guardarAlias()">
          Guardar Alias
        </ion-button>
      </ion-card-content>
    </ion-card>

    

    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Estilo de Aprendizaje</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="chart-container">
          <canvas id="spiderChart" width="300" height="300"></canvas>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #cargando>
    <ion-spinner name="crescent" class="ion-text-center"></ion-spinner>
    <p class="ion-text-center">Cargando perfil...</p>
  </ng-template>
</ion-content>
