<section class="fixed-top" style="z-index: 1000; background-color: #ededee;">
  <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">

          <a class="navbar-brand" href="#">
              <img src="assets/logo.png" height="30" alt="Logo">
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mx-auto gap-3" style="font-size: 1.5rem;">
                  <li class="nav-item">
                      <a id="nav-inicio" class="nav-link text-dark px-3" href="#inicio">Inicio</a>
                  </li>
                  <li class="nav-item">
                      <a id="nav-nosotros" class="nav-link text-dark px-3" href="#nosotros">Nosotros</a>
                  </li>
                  <li class="nav-item">
                      <a id="nav-aprendizaje" class="nav-link text-dark px-3" href="#aprendizaje">Aprendizaje</a>
                  </li>
                  <li class="nav-item">
                      <a id="nav-vark" class="nav-link text-dark px-3" href="#vark">Vark</a>
                  </li>
                  <li class="nav-item">
                      <a id="nav-contactanos" class="nav-link text-dark px-3" href="#contacto">Contáctanos</a>
                  </li>
                  
              </ul>
              <a class="btn btn-lg btn-primary" routerLink="/login">Iniciar sesión</a>
          </div>
          
      </div>
  </nav>
</section>