/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3 {
    font-weight: 700; /* Más negrita para títulos */
}

p, span, a, button {
    font-weight: 400; /* Regular para textos comunes */
}

