<div class="catalogo-usuarios">
  <h2>Catálogo de Usuarios</h2>

  <button (click)="openCreateModal()">Agregar Usuario</button>

  <table *ngIf="users.length > 0">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Acciones</th>
        <th>rol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.nombre_usuario }} {{ user.ap_paterno }} {{ user.ap_materno }}</td>
        <td>{{ user.correo }}</td>
        <td>
          <button (click)="editUser(user.id_usuario)">Editar</button>
          <button (click)="deleteUser(user.id_usuario)">Eliminar</button>
        </td>
        <td>{{ user.id_rol }}</td>
      </tr>
      
    </tbody>
  </table>

  <div *ngIf="users.length === 0">No hay usuarios disponibles.</div>
</div>

<!-- Modal Crear Usuario -->
<div *ngIf="isCreateModalOpen" class="modal">
  <div class="modal-content">
    <h3>Crear Usuario</h3>
    <form (ngSubmit)="createUser()">
      <input [(ngModel)]="newUser.name" name="name" placeholder="Nombre" required />
      <input [(ngModel)]="newUser.email" name="email" placeholder="Correo" type="email" required />
      <input [(ngModel)]="newUser.password" name="password" placeholder="Contraseña" type="password" required />
      <button type="submit">Crear</button>
      <button type="button" (click)="closeCreateModal()">Cancelar</button>
    </form>
  </div>
</div>

<!-- Modal Editar Usuario -->
<div *ngIf="isEditModalOpen" class="modal">
  <div class="modal-content">
    <h3>Editar Usuario</h3>
    <form (ngSubmit)="updateUser()">
      <input [(ngModel)]="selectedUser.name" name="editName" required />
      <input [(ngModel)]="selectedUser.email" name="editEmail" type="email" required />
      <button type="submit">Actualizar</button>
      <button type="button" (click)="closeEditModal()">Cancelar</button>
    </form>
  </div>
</div>
