<!-- Main Content -->
<div class="main-content">
  <div class="catalogo-usuarios">
    <h2>Catálogo de Usuarios</h2>

    <!-- Tabla de Usuarios -->
    <table class="usuarios-list">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button (click)="editUser(user.id)">Editar</button>
            <button (click)="deleteUser(user.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Botón para agregar un nuevo usuario -->
    <button class="btn-agregar" (click)="openCreateModal()">
      Agregar Usuario
    </button>
  </div>
</div>

<!-- Modal de Crear Usuario -->
<div id="modal-crear-usuario" class="modal" *ngIf="isCreateModalOpen">
  <div class="modal-content">
    <h3>Crear Usuario</h3>
    <form
      id="form-crear-usuario"
      (ngSubmit)="createUser()"
      #createUserForm="ngForm"
    >
      <!-- Nombre del usuario -->
      <input
        type="text"
        id="nombre-usuario"
        [(ngModel)]="newUser.name"
        placeholder="Nombre"
        name="nombre"
        required
        #name="ngModel"
        (keydown)="filterInvalidCharacters($event)"
        [class.invalid]="name.invalid && name.touched"
      />
      <div *ngIf="name.invalid && name.touched" class="error-message">
        El nombre es obligatorio y no puede contener caracteres especiales ni números.
      </div>

      <!-- Correo del usuario -->
      <input
        type="email"
        id="correo-usuario"
        [(ngModel)]="newUser.email"
        placeholder="Correo"
        name="correo"
        required
        email
        #email="ngModel"
        [class.invalid]="email.invalid && email.touched"
      />
      <div *ngIf="email.invalid && email.touched" class="error-message">
        El correo electrónico es obligatorio y debe tener un formato válido.
      </div>

      <!-- Contraseña del usuario -->
      <input
        type="password"
        id="password-usuario"
        [(ngModel)]="newUser.password"
        placeholder="Contraseña"
        name="password"
        required
        minlength="6"
        #password="ngModel"
        [class.invalid]="password.invalid && password.touched"
      />
      <div *ngIf="password.invalid && password.touched" class="error-message">
        La contraseña debe tener al menos 6 caracteres.
      </div>

      <!-- Botón de envío -->
      <button type="submit" [disabled]="createUserForm.invalid">
        Crear Usuario
      </button>
    </form>
    <button (click)="closeCreateModal()">Cerrar</button>
  </div>
</div>

<!-- Modal de Editar Usuario -->
<div id="modal-editar-usuario" class="modal" *ngIf="isEditModalOpen">
  <div class="modal-content">
    <h3>Editar Usuario</h3>
    <form id="form-editar-usuario" (ngSubmit)="updateUser()">
      <input type="hidden" [(ngModel)]="selectedUser.id" name="id" />

      <!-- Nombre del usuario -->
    
      <input
      type="text"
      id="nombre-usuario"
      [(ngModel)]="selectedUser.name"
      placeholder="Nombre"
      name="nombre"
      required
      #editName="ngModel"
      (keydown)="filterInvalidCharacters($event)"
      [class.invalid]="editName.invalid && editName.touched"
    />

      <div *ngIf="editName.invalid && editName.touched" class="error-message">
        El nombre es obligatorio y no puede contener caracteres especiales ni números.
      </div>

      <!-- Correo del usuario -->
      <input
        type="email"
        [(ngModel)]="selectedUser.email"
        placeholder="Correo"
        name="correo"
        required
        email
        #editEmail="ngModel"
        [class.invalid]="editEmail.invalid && editEmail.touched"
      />
      <div *ngIf="editEmail.invalid && editEmail.touched" class="error-message">
        El correo electrónico es obligatorio y debe tener un formato válido.
      </div>

      <!-- Botón de envío -->
      <button type="submit" [disabled]="editName.invalid || editEmail.invalid">
        Actualizar Usuario
      </button>
    </form>
    <button (click)="closeEditModal()">Cerrar</button>
  </div>
</div>
