<ion-header>
  <ion-toolbar color="primary">
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="game-path-container">
  <div class="path-container">
    <div *ngFor="let level of levels; let i = index" class="level-container">
      <div
        class="level"
        [ngClass]="{ 'left': i % 2 === 0, 'right': i % 2 !== 0 }"
      >
        <button
          class="level-circle"
          [disabled]="!level.unlocked"
          (click)="playLevel(level)"
          [style.background]="level.color"
        >
          <span *ngIf="level.unlocked">Nivel {{ i + 1 }}</span>
          <ion-icon *ngIf="!level.unlocked" name="lock-closed-outline"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</ion-content>
