<div class="container">
  <h2>Editar Actividad</h2>
  <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="nombre_actividad">Nombre de la actividad:</label>
      <input id="nombre_actividad" formControlName="nombre_actividad" />
    </div>
    <div>
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" formControlName="descripcion"></textarea>
    </div>
    <div>
      <label for="fecha_inicio">Fecha de inicio:</label>
      <input type="date" id="fecha_inicio" formControlName="fecha_inicio" />
    </div>
    <div>
      <label for="fecha_fin">Fecha de fin:</label>
      <input type="date" id="fecha_fin" formControlName="fecha_fin" />
    </div>
    <div>
      <button type="submit" [disabled]="activityForm.invalid">Actualizar Actividad</button>
    </div>
  </form>
</div>
